@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: rgba(141, 230, 208, 0.45);
}

:root {
    --primary: rgb(141, 230, 208);
}

::-webkit-scrollbar {
    width: 12px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: #14b8a6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0d9488;
}

::-webkit-scrollbar-track {
    background: var(--primary);
    box-shadow: inset 7px 10px 12px 0px rgba(141, 230, 208, 0.45);
}

.navbar {
    background-color: transparent;
    text-align: right;
    background-color: var(--primary) !important;
}

.navbar-brand>img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.nav-link {
    font-size: 0.8rem;
    color: #222 !important;
}

.nav-link:hover {
    color: #444 !important;
}

h1 {
    font-size: 2rem;
}

h1::first-letter {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.25rem;
}

h3 > span {
    font-size: 1.75rem !important;
}

.nav-link::first-letter {
    font-size: 1rem;
}

.btn-d4a {
    background-color: var(--primary);
}

.btn-d4a:hover {
    background-color: #018d88;
    color: white;
}

.btn-d4a:focus {
    box-shadow: 0 0 0 0.25rem rgb(141 230 208 / 25%);
}

#gabinete {
    background: url(/images/gabinete.jpg) center center;
    background-size: cover;
}

#manifiesto,
#productos,
#servicios {
    background-color: rgba(255, 255, 255, 0.7);
}

#manifiesto img,
#servicios img,
#productos img {
    width: inherit;
}

#manifiesto p,
#sobre-nosotros p,
#productos p,
#servicios p {
    text-align: justify !important;
}

#sobre-nosotros {
    background: linear-gradient(90deg, rgba(2,103,100,1) 10%, rgba(13,148,136,1) 59%, rgba(20,184,166,1) 100%);
    color: white;
}

#sobre-nosotros p {
    margin-bottom: 0 !important;
}

#inma p {
    text-align: right !important;
}

@media all and (max-width: 768px) {
    #inma p,
    #maria p {
        text-align: center !important;
    }

    #manifiesto img,
    #servicios img,
    #productos img {
        text-align: center;
        float: none !important;
        max-width: fit-content !important;
    }
}

#contacto p {
    margin-bottom: 0 !important;
}

#contacto p > span {
    font-size: 0.8rem;
    color: #ccc;
}

#contacto a,
#contacto p {
    color: #ccc;
}